/* ###################################################################################################################################################### *\
|* GLOBAL RULES ############################################################################################################################ GLOBAL RULES *|
\* ###################################################################################################################################################### */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

p {
  margin: 0;
}

header {
  border: 1px dashed black;
}

.logo {
  border: 1px dotted red;
}

.logo a {
  border: 1px dashed black;
}

[class^="row"] {
  border: 1px solid blue;
}

[class^="column-"] {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px dashed red;
}

/* #################### *\
|* MAIN STRUCTURE     # *| 
\* #################### */
.site-content, .site-header, .site-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-header {
  width: 95%;
}
.site-header > .row {
  width: calc(95% * (90% / 95%));
  width: calc(95% * (0.9 / 0.95));
  width: calc(90% + 100% * (95% - 90%));
}

.site-footer {
  width: 100%;
}
.site-footer > .row {
  width: 90%;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.site-content > .row {
  width: 90%;
}

.row.fullwidth {
  width: 100%;
  max-width: 100%;
}

.column-1 {
  width: calc((1 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-1:first-child {
  margin-left: 0;
}

.column-2 {
  width: calc((2 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-2:first-child {
  margin-left: 0;
}

.column-3 {
  width: calc((3 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-3:first-child {
  margin-left: 0;
}

.column-4 {
  width: calc((4 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-4:first-child {
  margin-left: 0;
}

.column-5 {
  width: calc((5 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-5:first-child {
  margin-left: 0;
}

.column-6 {
  width: calc((6 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-6:first-child {
  margin-left: 0;
}

.column-7 {
  width: calc((7 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-7:first-child {
  margin-left: 0;
}

.column-8 {
  width: calc((8 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-8:first-child {
  margin-left: 0;
}

.column-9 {
  width: calc((9 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-9:first-child {
  margin-left: 0;
}

.column-10 {
  width: calc((10 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-10:first-child {
  margin-left: 0;
}

.column-11 {
  width: calc((11 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-11:first-child {
  margin-left: 0;
}

.column-12 {
  width: calc((12 / 12) * (100% + 20px) - 20px);
  margin-left: 20px;
}
.column-12:first-child {
  margin-left: 0;
}

/* ###################################################################################################################################################### *\
|* THEME ########################################################################################################################################## THEME *|
\* ###################################################################################################################################################### */
/* FONTS */
@font-face {
  font-family: PragmaticaLightC;
  src: url("/Content/fonts/PragmaticaLightC.otf");
}
@font-face {
  font-family: single_corners;
  src: url("/Content/fonts/single_corners.ttf");
}
/* RULES */
body {
  background-color: #e7e7e7;
  font-family: PragmaticaLightC;
  color: #666;
}

a {
  color: #666;
  text-decoration: none;
  outline: none;
}

.background-color-none {
  height: auto;
  background-color: transparent !important;
}

.text-color-first {
  color: #5ca9df;
}
