/* ###################################################################################################################################################### *\
|* GLOBAL RULES ############################################################################################################################ GLOBAL RULES *|
\* ###################################################################################################################################################### */
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

p {
  margin: 0;
}

/* #################### *\
|* MAIN STRUCTURE     # *| 
\* #################### */
.site-content {
  width: 100%;
}

.main-content .row {
  max-width: 1200px;
}

.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.row.content-align-left {
  justify-content: flex-start;
}
.row.content-align-center {
  justify-content: center;
}
.row.content-align-right {
  justify-content: flex-end;
}
.row.content-align-top {
  align-items: flex-start;
}
.row.content-align-middle {
  align-items: flex-start;
}
.row.content-align-bottom {
  align-items: flex-end;
}
.row.content-align-stretch {
  align-items: stretch;
}
.row.area > [class*="column"] {
  max-width: 1200px;
}
.row.fullwidth {
  max-width: none;
}

.column-0 {
  width: calc((0 / 12) * (100% + 20px) - 20px);
}

.column-1 {
  width: calc((1 / 12) * (100% + 20px) - 20px);
}

.column-2 {
  width: calc((2 / 12) * (100% + 20px) - 20px);
}

.column-3 {
  width: calc((3 / 12) * (100% + 20px) - 20px);
}

.column-4 {
  width: calc((4 / 12) * (100% + 20px) - 20px);
}

.column-5 {
  width: calc((5 / 12) * (100% + 20px) - 20px);
}

.column-6 {
  width: calc((6 / 12) * (100% + 20px) - 20px);
}

.column-7 {
  width: calc((7 / 12) * (100% + 20px) - 20px);
}

.column-8 {
  width: calc((8 / 12) * (100% + 20px) - 20px);
}

.column-9 {
  width: calc((9 / 12) * (100% + 20px) - 20px);
}

.column-10 {
  width: calc((10 / 12) * (100% + 20px) - 20px);
}

.column-11 {
  width: calc((11 / 12) * (100% + 20px) - 20px);
}

.column-12 {
  width: calc((12 / 12) * (100% + 20px) - 20px);
}

[class*="column"] {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: wrap;
}
[class*="column"].content-align-left {
  align-items: flex-start;
}
[class*="column"].content-align-center {
  align-items: center;
}
[class*="column"].content-align-right {
  align-items: flex-end;
}
[class*="column"].content-align-top {
  justify-content: flex-start;
}
[class*="column"].content-align-middle {
  justify-content: center;
}
[class*="column"].content-align-bottom {
  justify-content: flex-end;
}

/* #################### *\
|* THEME              # *| 
\* #################### */
/* ~~~~~~~~~~ *\
|* Fonts    ~ *|
\* ~~~~~~~~~~ */
@font-face {
  font-family: PragmaticeLightC;
  src: url("/Users/Ostap/Documents/GitHub/GlobalTemp/fonts/PragmaticaLightC.otf");
}
@font-face {
  font-family: single_corners;
  src: url("fonts/single_corners.ttf");
}
@font-face {
  font-family: loop-search;
  src: url("/Users/Ostap/Documents/GitHub/GlobalTemp/fonts/loop-search.ttf");
}
/* ~~~~~~~~~~~ *\
|* Structure ~ *|
\* ~~~~~~~~~~~ */
.row[class*="column"] {
  margin-left: 0;
  margin-bottom: 0;
}
.row.inner {
  margin-bottom: -20px;
}
.row.without-padding > [class*="column"] {
  margin-left: 0;
  margin-bottom: 0;
}

[class*="column"] {
  margin-left: 20px;
  margin-bottom: 20px;
}
[class*="column"]:first-child {
  margin-left: 0;
}
[class*="column"].first {
  margin-left: 0;
}
[class*="column"].without-padding {
  margin-left: 0;
  margin-bottom: 0;
}

/* ~~~~~~~~~~ *\
|* Rules    ~ *|
\* ~~~~~~~~~~ */
body {
  background-color: #e7e7e7;
  font-family: PragmaticeLightC;
  font-size: 13px;
  color: #666;
}

a {
  color: #666;
  text-decoration: none;
  outline: none;
}

.background-color-none {
  height: auto;
  background-color: transparent !important;
}

.text-color-first {
  color: #ff0000;
}

/* ###################################################################################################################################################### *\
|* MODULES ###################################################################################################################################### MODULES *|
\* ###################################################################################################################################################### */
/* ~~~~~~~~~~~~~~~~~~ *\
|* Registration box ~ *|
\* ~~~~~~~~~~~~~~~~~~ */
/* COMMON */
/* LARGE */
.registration {
  width: 100%;
  height: 100%;
  margin: auto;
}
.registration .registration-container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #ffffff;
  box-shadow: 3px 3px 5px #cbcbcb;
  padding: 15px;
}

/* ~~~~~~~~~~~~~~~ *\
|* Form elements ~ *|
\* ~~~~~~~~~~~~~~~ */
/* COMMON */
/* LARGE */
@media screen and (min-width: 1200px) {
  form {
    width: 100%;
    height: 100%;
  }

  input {
    margin-bottom: 15px;
    border: none;
    outline: none;
    font-family: inherit;
    font-size: inherit;
    /* HTML 5 */
  }
  input:focus {
    outline: none;
    border: none;
  }
  input[type="text"], input[type="password"], input[type="url"], input[type="search"], input[type="tel"], input[type="email"], input[type="number"], input[type="time"], input[type="week"], input[type="month"], input[type="date"], input[type="datetime"], input[type="datetime-local"] {
    width: 100%;
    height: 30px;
    padding: 0;
    padding-left: 5px;
    border-color: #aaa;
    border-style: solid;
    border-width: 1px;
    background-color: #eee;
    color: #aaa;
    box-shadow: 3px 3px 5px #cbcbcb;
    -webkit-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -moz-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -ms-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -o-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  }
  input[type="text"]:hover, input[type="password"]:hover, input[type="url"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="time"]:hover, input[type="week"]:hover, input[type="month"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover {
    border-color: #aaa;
    background-color: #ccc;
    color: #aaa;
    -webkit-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -moz-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -ms-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -o-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  }
  input[type="text"]:active, input[type="password"]:active, input[type="url"]:active, input[type="search"]:active, input[type="tel"]:active, input[type="email"]:active, input[type="number"]:active, input[type="time"]:active, input[type="week"]:active, input[type="month"]:active, input[type="date"]:active, input[type="datetime"]:active, input[type="datetime-local"]:active {
    border-color: #888;
    background-color: #aaa;
    color: #888;
    -webkit-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -moz-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -ms-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -o-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  }
  input[type="text"]:focus, input[type="password"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="month"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus {
    border-color: #888;
    background-color: #aaa;
    color: #888;
    -webkit-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -moz-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -ms-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    -o-transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
    transition: border-color linear 0.2s, background-color linear 0.2s, color linear 0.2s;
  }
  input[type="button"], input[type="image"], input[type="submit"] {
    width: 140px;
    height: 35px;
    margin: auto;
    margin-bottom: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #d00000;
    background-color: #ff0000;
    font-size: 14px;
    color: #ffffff;
    box-shadow: 3px 3px 5px #cbcbcb;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
  }
  input[type="button"]:hover, input[type="image"]:hover, input[type="submit"]:hover {
    border-color: #a50000;
    background-color: #d40000;
    cursor: pointer;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
  }
  input[type="button"]:active, input[type="image"]:active, input[type="submit"]:active {
    border-color: #4c0000;
    background-color: #7b0000;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
  }
  input[type="button"]:focus, input[type="image"]:focus, input[type="submit"]:focus {
    border-color: 0-#2f0000;
    background-color: 0;
    -webkit-transition: background-color linear 0.1s;
    -moz-transition: background-color linear 0.1s;
    -ms-transition: background-color linear 0.1s;
    -o-transition: background-color linear 0.1s;
    transition: background-color linear 0.1s;
  }
  input[type="radio"]:hover, input[type="checkbox"]:hover, input[type="file"]:hover, input[type="button"]:hover, input[type="image"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="color"]:hover, input[type="range"]:hover {
    cursor: pointer;
  }
  input[type="range"]:hover {
    cursor: grab;
  }
  input[type="range"]:active {
    cursor: grabbing;
  }
}
