// ####################
// GLOBAL MIXINS      #
// ####################

@mixin transition ($value, $properties...) {
	@each $prefix in $vendor-prefixes {
		#{$prefix}transition: CreateTransitionValueString($value, $properties);
	}
}

@mixin transform  ($value...) {
	@each $prefix in $vendor-prefixes {
		#{$prefix}transform:  $value;
	}
}

@mixin std-wrapper ($wrapper-width: 100%) {
	width: $wrapper-width;
	height: 100%;
	margin: auto;
}

@mixin std-container ($container-width, $container-bgcolor, $container-shadow) {
	width: $container-width;
	height: 100%;
	display: flex;
	background-color: $container-bgcolor;
	box-shadow: $container-shadow;
}
